/* ============================= */
/* ====== GERAL ====== */
/* ============================= */
.navbar-brand {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center; /* Centraliza verticalmente o texto com a logo */
  font-weight: bold;
  font-size: 1.8rem; /* Tamanho maior por padrão */
}

.navbar-brand img {
  margin-right: 3%;
}

.navbar-nav {
  font-size: 1.2rem;
  margin-right: 2%;
  align-items: center;
}

.navbar-nav a {
  margin-right: 1%;
  margin-left: 1%;
  display: flex; /* Torna o link um flex container */
  align-items: center; /* Alinha os itens verticalmente */
}

/* Aumenta o tamanho do ícone de perfil */
.bi-person {
  font-size: 1.7rem; /* Ajuste o tamanho conforme necessário */
}

.app-icons {
  display: flex; /* Ativa o flexbox */
  justify-content: center; /* Centraliza os itens horizontalmente */
  padding: 0; /* Remove o padding padrão da lista */
  margin: 0; /* Remove a margem padrão da lista */
}

.app-icon {
  width: 200px; /* Define a largura desejada para as imagens */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 10px; /* Espaço entre as imagens */
}

.text-center {
  margin-top: 0%;
}

/* ============================= */
/* ====== GERAL CLARO ====== */
/* ============================= */
body.claro {
  font-family: Montserrat !important;
  background-color: #ffffff;
  color: #000000;
}

body.claro .navbar-brand {
  color: #000000; /* Cor do título no modo claro */
}

body.claro .navbar {
  background-color: #ffffff !important; /* Cor de fundo da navbar no modo claro */
}

body.claro .navbar-nav a {
  color: #000000 !important; /* Cor dos links na navbar */
}

body.claro .navbar-nav a:hover {
  color: #348C70 !important; /* Cor dos links ao passar o mouse no modo claro */
}

body.claro footer {
  background-color: #f8f9fa; /* Fundo claro do footer */
  color: #000000; /* Texto escuro no footer */
}

body.claro footer a {
  color: #000000; /* Cor dos links no footer */
}

body.claro footer a:hover {
  color: #007bff; /* Cor dos links ao passar o mouse */
}

/* ============================= */
/* ====== GERAL ESCURO  ====== */
/* ============================= */
body.escuro {
  font-family: Montserrat !important;
  background-color: #464545;
  color: #ffffff;
}

body.escuro .navbar-brand {
  color: #ffffff; /* Cor do título no modo escuro */
}

body.escuro .navbar {
  background-color: #414141 !important; /* Cor de fundo da navbar no modo escuro */
}

body.escuro .navbar-nav a {
  color: #ffffff !important; /* Cor dos links na navbar */
}

body.escuro .navbar-nav a:hover {
  color: #348C70 !important; /* Cor dos links ao passar o mouse no modo escuro */
}

body.escuro footer {
  background-color: #343a40; /* Fundo escuro do footer */
  color: #ffffff; /* Texto claro no footer */
}

body.escuro footer a {
  color: #ffffff; /* Cor dos links no footer */
}

body.escuro footer a:hover {
  color: #17a2b8; /* Cor dos links ao passar o mouse */
}