
/* Estilo do Banner */
.banner-container {
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  background-color: #4b4b4b;
  padding: 5%;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.banner p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: white;
}

/* Container da imagem */
.image-container {
  border-radius: 10px; /* Bordas arredondadas no container */
}

/* Estilo da Imagem */
.banner .img-fluid {
  max-width: none;
  width: 80%;
  height: auto;
  border: 5px solid #888888; /* Borda branca em volta da imagem */
  border-radius: 5%; /* Bordas arredondadas da imagem */
}

.rouded-image{
    border-radius: 5%;
}

.text{
    font-size: 1.25rem;
}

.card-img-top {
  width: 100%; /* Faz a imagem ocupar toda a largura do card */
  height: 400px; /* Define uma altura fixa para as imagens */
  object-fit: cover; /* Corta a imagem se for muito grande e mantém a proporção */
}

/* Estilo geral dos cards */
.card-plan {
    border: 2px solid #007bff; /* Borda azul */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s; /* Efeito de transição */
}

.card-plan:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
}

/* Estilo do cabeçalho do card */
.card-header {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Texto branco */
    font-weight: bold; /* Negrito */
    padding: 15px; /* Espaçamento interno */
    border-top-left-radius: 10px; /* Bordas arredondadas no topo */
    border-top-right-radius: 10px; /* Bordas arredondadas no topo */
}

/* Estilo do título do plano */
.plan-title {
    margin: 0; /* Remove margens */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #007bff; /* Título em azul */
}

/* Estilo do preço */
.price {
    font-size: 2rem; /* Tamanho do texto do preço */
    font-weight: bold; /* Negrito */
    color: #007bff; /* Cor azul para o preço */
    margin: 10px 0; /* Margens superior e inferior */
}

/* Estilo da lista de características */
.card-body ul li {
    padding: 5px 0; /* Espaçamento entre os itens da lista */
    font-size: 1.1rem; /* Tamanho da fonte */
}

/* Estilo do botão */
.btn-primary {
    background-color: #007bff; /* Cor de fundo azul */
    border: none; /* Remove borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição da cor de fundo */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

