/* Estilos específicos para a página de planos */

.container.margin-top {
    margin-top: 120px;
}

table {
    margin: 0 auto;
    width: 80%;
}

th, td, tr {
    text-align: center;
    vertical-align: middle;
}

.header {
    background-color: #348C70; /* Cor alinhada ao tema */
    color: white;
}

.table .plan-title {
    font-weight: bold;
}

.card-plan {
    border: 2px solid #348C70; /* Cor alinhada ao tema */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    min-height: 250px;
}

.card-plan:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #348C70; /* Cor alinhada ao tema */
    color: white;
    font-weight: bold;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-title {
    margin: 0;
    font-size: 1.5rem;
    color: #348C70; /* Cor alinhada ao tema */
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: #348C70; /* Cor alinhada ao tema */
    margin: 10px 0;
}

.card-body ul li {
    padding: 5px 0;
    font-size: 1.1rem;
    text-align: left;
}